<h2>Listing rapids</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>River</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Description</th>
    <th>User created</th>
    <th>User changed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rapids.each do |rapid| %>
  <tr>
    <td><%= rapid.name %></td>
    <td><%= rapid.rating %></td>
    <td><%= rapid.river %></td>
    <td><%= rapid.lat %></td>
    <td><%= rapid.lng %></td>
    <td><%= rapid.description %></td>
    <td><%= rapid.user_created %></td>
    <td><%= rapid.user_changed %></td>
    <td><%= link_to 'Show', rapid %></td>
    <td><%= link_to 'Edit', edit_rapid_path(rapid) %></td>
    <td><%= link_to 'Destroy', rapid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rapid', new_rapid_path, class: 'btn' %>
